body {
    font-family: "Raleway", sans-serif;
}

.mycarousel {
    max-height: max-content;
    background-color: rgb(236, 162, 49);
}

.carrousel-item {
    position: relative;
    z-index: 10;
}

.carousel-container {
    background-color: transparent;
    position: absolute;
    color: white;
    padding: 2%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 20;
    border-radius: 5%;
    border-color: beige;
    overflow: hidden;
}

@media (max-width: 576px) {
    .carousel-buttons {
        display: none;
    }

    .carousel-container {
        display: none;
    }
}

.card-img-top {
    max-width: 268px;
}

.gradient {
    position: absolute;
    background-image: radial-gradient(ellipse, transparent, black);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.copyright-text {
    background-color: rgba(0, 0, 0, 0.2);
}

a:link {
    text-decoration: none;
}